/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Theme Name: WP Contact Manager
 *Theme URI: http://artisanthemes.com/themes/wp-contact-manager/
 *Description: A free contact manager for WordPress.
 *Version: 0.5
 *Author: David Yeiser
 *Author URI: http://artisanthemes.com/ */
/* line 19, compass/src/style.sass */
div#nav {
  background: #273d2b;
  padding: 10px;
}
/* line 22, compass/src/style.sass */
div#nav a {
  color: #c5c9a9;
  font-size: 1.1em;
  line-height: 30px;
  margin-left: 10px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 10px;
  background: #2f4934;
}
/* line 34, compass/src/style.sass */
div#nav a:hover {
  color: #daddc8;
}
/* line 36, compass/src/style.sass */
div#nav a:active {
  color: #7f8554;
}

/* line 39, compass/src/style.sass */
div.related-contacts {
  display: none;
  /*TEMPORARY HOPE THIS WORKS LATER :) */
}

/* line 43, compass/src/style.sass */
span.viewlocation a {
  clear: both;
  display: block;
  color: #cccccc;
}

/* line 48, compass/src/style.sass */
body {
  font-family: "Lucida Grande", Arial, sans-serif;
  color: #666655;
}

/* line 52, compass/src/style.sass */
ul {
  list-style: none;
}

/* line 55, compass/src/style.sass */
p.needhelp {
  color: #6e6655;
  font-size: 12px !important;
  margin: 5px 0;
}

/* line 60, compass/src/style.sass */
a:link, a:visited, a:hover,
a:focus {
  color: black;
}

/* line 63, compass/src/style.sass */
a:visited, a:hover,
a:focus {
  color: #333333;
  border-bottom: none;
}

/* line 68, compass/src/style.sass */
a:hover,
a:focus {
  text-decoration: none;
}

/* line 73, compass/src/style.sass */
span.clearer {
  height: 0;
  display: block;
  clear: both;
  font-size: 1px;
  line-height: 1px;
}

/*-------- lists --------- */
/* line 83, compass/src/style.sass */
table {
  width: 100%;
  border-right: 1px solid #e5eff8;
  margin: 1em auto;
  border-collapse: collapse;
  font-size: 0.8em;
}

/* line 90, compass/src/style.sass */
caption {
  color: #9ba9b4;
  font-size: 0.94em;
  letter-spacing: 0.1em;
  margin: 1em 0 0 0;
  padding: 0;
  caption-side: top;
  text-align: center;
}

/* line 99, compass/src/style.sass */
tr.contact {
  border-top: 1px solid #333333 !important;
}

/* line 102, compass/src/style.sass */
tr.odd td {
  background: #f7fbff;
}

/* line 105, compass/src/style.sass */
tr.odd .column1 {
  background: #f4f9fe;
}

/* line 108, compass/src/style.sass */
.column1 {
  background: #f9fcfe;
}

/* line 111, compass/src/style.sass */
td {
  color: #678197;
  border-bottom: 1px solid #c3c3c3;
  border-left: 1px solid #e5eff8;
  padding: 0.3em 1em;
}

/* line 117, compass/src/style.sass */
th {
  font-weight: normal;
  color: #678197;
  text-align: left;
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: 0.3em 1em;
}

/* line 125, compass/src/style.sass */
thead th {
  background: #f3f3f3;
  font: "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: green;
}

/* line 130, compass/src/style.sass */
table td.m-category a {
  padding: 0 5px;
  margin: 0px 5px;
  display: block;
  text-transform: uppercase;
  font-size: 0.75em;
  text-decoration: none;
}

/* line 138, compass/src/style.sass */
table td.m-category a:hover {
  color: green;
}

/* ------- ADMIN BAR ------- */
/* line 143, compass/src/style.sass */
#admin-bar {
  width: 100%;
  padding: 0.5em 0;
  border-bottom: 2px solid #888877;
  background-color: #777766;
}

/* line 149, compass/src/style.sass */
#admin-bar p {
  width: 48.375em;
  margin: 0 auto;
  padding-top: 3px;
}

/* line 154, compass/src/style.sass */
#admin-bar p a {
  padding: 1px 0.5em;
  display: block;
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  color: #fdfeef;
  border-right: 1px solid #888877;
}

/* line 164, compass/src/style.sass */
#admin-bar p a:hover {
  text-decoration: underline;
}

/* line 167, compass/src/style.sass */
#admin-bar p a#home-link {
  padding: 1px 0.5em 1px 20px;
  background: url("") 0 0 no-repeat;
}

/* line 171, compass/src/style.sass */
#admin-bar p a#get-help {
  border-right: 0;
}

/* line 174, compass/src/style.sass */
#admin-bar p a#logout-link {
  float: right;
  border-right: 0;
}

/* ------- MULTIPLE CONTACTS ------- */
/* line 180, compass/src/style.sass */
h2 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.425em;
  font-weight: normal;
  color: #00872f;
  margin: 1em 0;
}

/* line 187, compass/src/style.sass */
#content h2 {
  width: 100%;
  line-height: 2;
  text-align: center;
}

/* line 192, compass/src/style.sass */
h2 span.archived-feature {
  background: #ffefae;
  color: black;
  padding: 2px 10px;
}

/* ------- SINGLE CONTACT ------- */
/* line 199, compass/src/style.sass */
h3.site-subtitle {
  font-family: palatino, georgia, "Lucida Grande", Arial, sans-serif;
  line-height: 20px;
  float: left;
  font-style: italic;
}

/* line 205, compass/src/style.sass */
.vitals {
  font-family: "Lucida Grande", Arial, sans-serif;
  float: left;
  text-align: right;
  font-size: 1.3em;
  border-bottom: 4px double #c3c3c3;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
/* line 213, compass/src/style.sass */
.vitals img {
  float: left;
}
/* line 215, compass/src/style.sass */
.vitals p {
  width: 450px;
}
/* line 218, compass/src/style.sass */
.vitals img.contact-picture {
  margin: 0 1em 1em 0;
  float: left;
}
/* line 222, compass/src/style.sass */
.vitals span.organization {
  padding-bottom: 0;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
  color: #00872f;
}
/* line 230, compass/src/style.sass */
.vitals span.name {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.75em;
  line-height: 1.25em;
  color: #666655;
}
/* line 239, compass/src/style.sass */
.vitals span.title {
  padding-bottom: 0.375em;
  display: block;
  font-size: 0.813em;
  font-style: italic;
  color: #777766;
}
/* line 246, compass/src/style.sass */
.vitals span.email, .vitals span.website {
  display: block;
  font-size: 0.688em;
  font-weight: bold;
  line-height: 16px;
}
/* line 252, compass/src/style.sass */
.vitals span.website a, .vitals span.email a {
  text-decoration: none;
}

/* line 255, compass/src/style.sass */
.phone {
  clear: both;
  font-family: "Lucida Grande", Arial, Verdana, sans-serif;
  float: left;
  padding: 10px 0;
}
/* line 261, compass/src/style.sass */
.phone ul.phone-numbers {
  width: 190px;
  float: left;
  list-style: none;
  clear: both;
  padding: 0;
  margin: 0;
}
/* line 268, compass/src/style.sass */
.phone ul.phone-numbers li {
  margin-bottom: 1px;
  padding: 0.125em 0.375em;
  font-size: 0.813em;
  line-height: 20px;
  border-top: 1px solid #dddddd;
}
/* line 274, compass/src/style.sass */
.phone ul.phone-numbers li:first-child {
  background-color: #eeeeee;
}
/* line 277, compass/src/style.sass */
.phone ul.phone-numbers li span.number {
  font-weight: bold;
  letter-spacing: 1px;
}

/* line 283, compass/src/style.sass */
.additional-info {
  padding: 10px 0;
  float: left;
  display: inline-block;
  margin-left: 20px;
}
/* line 288, compass/src/style.sass */
.additional-info .address {
  margin-right: 1.625em;
  float: left;
  clear: both;
}
/* line 292, compass/src/style.sass */
.additional-info .address p {
  float: left;
  clear: both;
  padding: 0;
}

/* line 297, compass/src/style.sass */
.optional-fields {
  width: 15.375em;
  float: right;
  font-size: 0.813em;
  line-height: 20px;
}

/* line 303, compass/src/style.sass */
.address p {
  width: 17.75em;
  float: left;
  font-size: 0.813em;
  line-height: 20px;
}

/* line 309, compass/src/style.sass */
.extra {
  width: 27em;
  margin-top: 1.25em;
  padding-top: 0.75em;
  float: left;
  clear: both;
  border-top: 0.188em double #dddddd;
}

/* line 317, compass/src/style.sass */
#map {
  height: 250px;
}

/* line 320, compass/src/style.sass */
.notes {
  width: 27em;
  margin-bottom: 1em;
  position: relative;
  float: left;
}
/* line 325, compass/src/style.sass */
.notes h3 {
  padding: 15px 15px 10px 0;
}
/* line 327, compass/src/style.sass */
.notes p {
  padding: 0.188em 0 0.75em 0;
  font-size: 0.813em;
  line-height: 1.25em;
}

/* line 332, compass/src/style.sass */
.related-contacts {
  width: 10em;
  margin: 0 0 1em 1.625em;
  position: relative;
  float: right;
}

/* line 338, compass/src/style.sass */
.related-contacts h3 {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 0.688em;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 344, compass/src/style.sass */
.related-contacts ul {
  padding-top: 3px;
}

/* line 347, compass/src/style.sass */
.related-contacts li {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 12px;
  line-height: 17px;
}

/* line 352, compass/src/style.sass */
.related-contacts li a {
  text-decoration: none;
}

/* line 355, compass/src/style.sass */
.contact-tags {
  margin: 1em 0 1.25em 0;
  padding-top: 0.125em;
  clear: both;
  border-top: 0.063em solid #dddddd;
}

/* line 361, compass/src/style.sass */
.contact-tags span {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 0.688em;
  font-weight: bold;
}

/* line 366, compass/src/style.sass */
.contact-tags a {
  font-size: 0.688em;
  font-weight: bold;
  text-decoration: none;
}

/* line 371, compass/src/style.sass */
#ind-contact-meta {
  margin: 1em 0 0.5em 0;
}

/* line 374, compass/src/style.sass */
#ind-contact-meta p a {
  padding: 10px 5px 7px 20px;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
}

/* line 380, compass/src/style.sass */
#ind-contact-meta p a[title="Edit post"] {
  border-top: 1px solid #dddddd;
  background: url("images/icon-user-edit.png") 0 7px no-repeat;
}

/* line 384, compass/src/style.sass */
#ind-contact-meta p a#location-link {
  padding-bottom: 7px;
  background: url("images/icon-map.png") 0 7px no-repeat;
}

/* line 388, compass/src/style.sass */
#ind-contact-meta p a[title="Edit post"]:hover, #ind-contact-meta p a#location-link:hover {
  background-position: 0 -43px;
}

/* ------- COMMENTS / USER NOTES ------- */
/* line 393, compass/src/style.sass */
div#user-notes {
  margin-top: 1em;
  padding: 1em 0;
}
/* line 396, compass/src/style.sass */
div#user-notes input#submit {
  margin: 10px 0;
}
/* line 399, compass/src/style.sass */
div#user-notes form#commentform textarea {
  width: 100%;
  margin: 0 auto;
}

/* line 403, compass/src/style.sass */
a#location-link, a.post-edit-link {
  background: green;
  color: white;
  padding: 5px 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 13px;
}
/* line 410, compass/src/style.sass */
a#location-link:hover, a.post-edit-link:hover {
  color: #f8f8f8;
}
/* line 412, compass/src/style.sass */
a#location-link:active, a.post-edit-link:active {
  color: #c3c3c3;
}

/* line 415, compass/src/style.sass */
#sidebar {
  margin-top: 10px;
}

/* line 418, compass/src/style.sass */
#sidebar h3#user-notes-title, #sidebar h3#leave-user-note {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
  color: #999999;
  border-bottom: 0;
}

/* line 426, compass/src/style.sass */
#sidebar h3#leave-user-note {
  padding-top: 1.25em;
}

/* line 431, compass/src/style.sass */
dl.commentlist dt {
  margin-top: 1em;
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  border-top: 0.063em solid #dddddd;
}

/* line 437, compass/src/style.sass */
dl.commentlist dt cite {
  font-size: 1em;
}

/* line 440, compass/src/style.sass */
dl.commentlist dt cite a {
  text-decoration: none;
  color: #004d86;
}

/* line 444, compass/src/style.sass */
dl.commentlist dt span#author-meta {
  padding-top: 5px;
  position: relative;
  display: block;
}

/* line 449, compass/src/style.sass */
dl.commentlist dt span.comment-meta a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.688em;
  text-decoration: none;
  color: #999999;
}

/* line 455, compass/src/style.sass */
dl.commentlist dt img {
  margin: 0 0.75em 0 0;
  position: relative;
  float: left;
  border: 3px solid #dddddd;
  border-top: 2px solid #dddddd;
}

/* line 462, compass/src/style.sass */
dl.commentlist dd {
  margin-top: 1em;
  display: block;
  clear: both;
  font-family: Georgia, "Times New Roman", serif;
  border-bottom: 0.125em solid #dddddd;
}

/* line 469, compass/src/style.sass */
#sidebar dl.commentlist dd p {
  padding-bottom: 1em;
  display: block;
  font-size: 0.75em;
  line-height: 1.5em;
}

/* line 475, compass/src/style.sass */
#sidebar p.login-note {
  font-size: 0.813em;
  font-weight: bold;
  line-height: 1em;
  background-color: #fdfeef;
}

/* line 481, compass/src/style.sass */
form#commentform p {
  font-size: 0.813em;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  line-height: 1em;
  background-color: white;
  padding: 5px 0;
}

/* line 489, compass/src/style.sass */
form#commentform p a {
  text-decoration: underline;
}

/* line 494, compass/src/style.sass */
form#commentform input, form#commentform textarea {
  padding: 2px;
  font-size: 13px;
  color: #666655;
  border: 1px solid #dddddd;
  border-bottom: 3px solid #dcdcdc;
}

/* line 501, compass/src/style.sass */
form#commentform input#submit {
  padding: 3px 5px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  color: #444433;
  border: 3px double silver;
  background-color: #dddddd;
}

/* ------- SITE META ------- */
/* line 513, compass/src/style.sass */
#site-meta p {
  padding: 0.625em;
  font-size: 0.688em;
  text-align: center;
  color: #999999;
}

/* line 519, compass/src/style.sass */
#site-meta p a {
  color: #999999;
}

/* line 522, compass/src/style.sass */
#site-meta p a.home-link {
  font-weight: bold;
  color: #555544;
}

/* line 526, compass/src/style.sass */
#site-meta a.home-link:hover, #site-meta a.home-link:active {
  color: #004d86;
}

/* line 529, compass/src/style.sass */
#site-meta a:hover, #site-meta a:active {
  color: #004d86;
}

/* line 534, compass/src/style.sass */
div#topbar {
  float: left;
  width: 100%;
  background: #333333;
  border-top: 4px double #666655;
}
/* line 540, compass/src/style.sass */
div#topbar ul#categorywrap {
  overflow: hidden;
  display: block;
  font-size: 0.8em;
  width: 100%;
}
/* line 545, compass/src/style.sass */
div#topbar ul#categorywrap li.cat-item {
  width: 160px;
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
/* line 551, compass/src/style.sass */
div#topbar ul#categorywrap li.cat-item a {
  text-decoration: none;
  color: #c7c7c7;
}
/* line 554, compass/src/style.sass */
div#topbar ul#categorywrap li.cat-item a:hover {
  color: white;
}
/* line 557, compass/src/style.sass */
div#topbar ul#categorywrap ul.children {
  float: left;
}
/* line 559, compass/src/style.sass */
div#topbar ul#categorywrap ul.children li.cat-item {
  float: left;
  margin-top: 0;
}
/* line 562, compass/src/style.sass */
div#topbar ul#categorywrap ul.children li.cat-item a {
  text-decoration: none;
  color: #797979;
  font-weight: normal;
}

/* line 567, compass/src/style.sass */
div#search {
  float: left;
  width: 300px;
  padding: 15px 10px 0 0;
}
/* line 571, compass/src/style.sass */
div#search div#logo {
  float: left;
  clear: none;
}
/* line 574, compass/src/style.sass */
div#search h2.site-subtitle {
  font-size: 10px;
  color: #c3c3c3;
  font-weight: 0;
  font-size: 1.3em;
  line-height: 1.2em;
  width: 45%;
  float: right;
  clear: none;
}
/* line 583, compass/src/style.sass */
div#search span {
  display: block;
  font-style: italic;
  font-family: georgia;
  margin: 10px;
  float: right;
}
/* line 589, compass/src/style.sass */
div#search input#s {
  width: 70%;
  float: left;
  font-size: 20px;
  margin-left: 10px;
}
/* line 594, compass/src/style.sass */
div#search input#searchsubmit {
  width: 50px;
  border: 3px double #333333;
  float: right;
  clear: none;
  margin: 0 15px 0 0;
}

/* line 601, compass/src/style.sass */
#searchform input {
  width: 17.875em;
  padding: 0.25em 0.125em;
  font-family: Helvetica, Consolas, "Courier New", monospace;
  font-size: 1em;
  color: #555544;
  border: 0.063em solid #dddddd;
  background-color: white;
}

/* line 610, compass/src/style.sass */
#searchform input#searchsubmit {
  width: 5.75em;
  padding: 0.25em 0.125em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: 0;
  background-color: #666655;
}

/* line 620, compass/src/style.sass */
#mapframe {
  width: 100%;
  height: 700px;
}

/* line 624, compass/src/style.sass */
#content {
  width: 100%;
}

/* line 628, compass/src/style.sass */
#content table {
  margin: 10px auto;
  width: 90%;
}

/* line 632, compass/src/style.sass */
#content .entry {
  margin: 30px 0 0 30px;
  overflow: hidden;
  *zoom: 1;
  float: left;
  clear: both;
  border: 1px solid #c3c3c3;
  padding: 20px;
}
