/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/*Theme Name: WP Contact Manager
 *Theme URI: http://artisanthemes.com/themes/wp-contact-manager/
 *Description: A free contact manager for WordPress.
 *Version: 0.5
 *Author: David Yeiser
 *Author URI: http://artisanthemes.com/ */
/* line 16, compass/src/style.sass */
div.related-contacts {
  display: none;
  /*TEMPORARY HOPE THIS WORKS LATER :) */
}

/* line 20, compass/src/style.sass */
span.viewlocation a {
  clear: both;
  display: block;
  color: #cccccc;
}

/* line 25, compass/src/style.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 29, compass/src/style.sass */
body {
  font-family: "Lucida Grande", Arial, sans-serif;
  color: #666655;
}

/* line 33, compass/src/style.sass */
ul {
  list-style: none;
}

/* line 36, compass/src/style.sass */
p.needhelp {
  color: #6e6655;
  font-size: 12px !important;
  margin: 5px 0;
}

/* line 41, compass/src/style.sass */
a:link {
  color: black;
  text-decoration: none;
}

/* line 45, compass/src/style.sass */
a:visited {
  color: #333333;
  border-bottom: none;
  text-decoration: none;
}

/* line 50, compass/src/style.sass */
a:hover,
a:focus {
  color: #333333;
  text-decoration: none;
}

/* line 55, compass/src/style.sass */
span.clearer {
  height: 0;
  display: block;
  clear: both;
  font-size: 1px;
  line-height: 1px;
}

/* line 62, compass/src/style.sass */
div#search {
  float: left;
  width: 600px;
  background: #333333;
  border: 3px solid #666655;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 15px;
}

/* line 71, compass/src/style.sass */
div#search h2 span a {
  font-size: 10px;
  border: 1px solid red !important;
}

/* line 75, compass/src/style.sass */
div#search #logo {
  width: 150px;
  height: 100px;
  float: left;
  margin-right: 30px;
}

/* line 81, compass/src/style.sass */
div#search span {
  display: block;
  font-style: italic;
  font-family: georgia;
  margin: 10px;
}

/* line 87, compass/src/style.sass */
div#search h2 {
  margin-right: 30px;
  margin-top: 3px;
  color: #c3c3c3;
  font-weight: 0;
  font-size: 1.1em;
}

/* line 94, compass/src/style.sass */
#searchform input {
  width: 17.875em;
  padding: 0.25em 0.125em;
  font-family: Helvetica, Consolas, "Courier New", monospace;
  font-size: 1em;
  color: #555544;
  border: 0.063em solid #dddddd;
  background-color: white;
}

/* line 103, compass/src/style.sass */
#searchform input#searchsubmit {
  width: 5.75em;
  padding: 0.25em 0.125em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  border: 0;
  background-color: #666655;
}

/*-------- lists --------- */
/* line 115, compass/src/style.sass */
#sidebar ul {
  font-weight: bold;
  list-style-position: inside !important;
}

/* line 119, compass/src/style.sass */
#sidebar ul.children {
  list-style-type: none;
  margin-left: 20px;
  font-weight: normal;
}

/* line 124, compass/src/style.sass */
#sidebar ul li {
  margin-top: 3px;
}

/* line 127, compass/src/style.sass */
#sidebar {
  font-size: 0.8em;
}

/* ------- LAYOUT ------- */
/* line 132, compass/src/style.sass */
#site {
  width: 1200px;
  margin: 1.25em auto;
}

/* line 136, compass/src/style.sass */
#content {
  width: 650px;
  padding: 1.25em 1.25em 2.5em 1.25em;
  position: relative;
  float: left;
  background-color: white;
  overflow: hidden;
  /*border:3px solid #ccc;
   *-moz-border-radius:10px;
   *-webkit-border-radius:10px; */
  margin: 1.5em;
}

/* line 148, compass/src/style.sass */
#sidebar {
  width: 19.25em;
  margin-left: 1.25em;
  padding-top: 2em;
  float: left;
}

/* line 154, compass/src/style.sass */
#site-meta {
  width: 48.375em;
  margin-top: 1.25em;
  padding-top: 0.75em;
  clear: both;
}

/* line 162, compass/src/style.sass */
p.catcloud a {
  color: #666666;
}

/* line 165, compass/src/style.sass */
div.vitals p {
  text-align: center;
}

/* line 168, compass/src/style.sass */
p.catcloud a:hover {
  color: #333333;
  background: green;
  color: white;
}

/* line 173, compass/src/style.sass */
table {
  width: 100%;
  border-right: 1px solid #e5eff8;
  margin: 1em auto;
  border-collapse: collapse;
  font-size: 0.8em;
}

/* line 180, compass/src/style.sass */
caption {
  color: #9ba9b4;
  font-size: 0.94em;
  letter-spacing: 0.1em;
  margin: 1em 0 0 0;
  padding: 0;
  caption-side: top;
  text-align: center;
}

/* line 189, compass/src/style.sass */
tr.contact {
  border-top: 1px solid #333333 !important;
}

/* line 192, compass/src/style.sass */
tr.odd td {
  background: #f7fbff;
}

/* line 195, compass/src/style.sass */
tr.odd .column1 {
  background: #f4f9fe;
}

/* line 198, compass/src/style.sass */
.column1 {
  background: #f9fcfe;
}

/* line 201, compass/src/style.sass */
td {
  color: #678197;
  border-bottom: 1px solid #c3c3c3;
  border-left: 1px solid #e5eff8;
  padding: 0.3em 1em;
}

/* line 207, compass/src/style.sass */
th {
  font-weight: normal;
  color: #678197;
  text-align: left;
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: 0.3em 1em;
}

/* line 215, compass/src/style.sass */
thead th {
  background: #f3f3f3;
  font: "Century Gothic", "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: green;
}

/* line 220, compass/src/style.sass */
table td.m-category a {
  padding: 0 5px;
  margin: 0px 5px;
  display: block;
  text-transform: uppercase;
  font-size: 0.75em;
  text-decoration: none;
}

/* line 228, compass/src/style.sass */
table td.m-category a:hover {
  color: green;
}

/* ------- ADMIN BAR ------- */
/* line 233, compass/src/style.sass */
#admin-bar {
  width: 100%;
  padding: 0.5em 0;
  border-bottom: 2px solid #888877;
  background-color: #777766;
}

/* line 239, compass/src/style.sass */
#admin-bar p {
  width: 48.375em;
  margin: 0 auto;
  padding-top: 3px;
}

/* line 244, compass/src/style.sass */
#admin-bar p a {
  padding: 1px 0.5em;
  display: block;
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  color: #fdfeef;
  border-right: 1px solid #888877;
}

/* line 254, compass/src/style.sass */
#admin-bar p a:hover {
  text-decoration: underline;
}

/* line 257, compass/src/style.sass */
#admin-bar p a#home-link {
  padding: 1px 0.5em 1px 20px;
  background: url("") 0 0 no-repeat;
}

/* line 261, compass/src/style.sass */
#admin-bar p a#get-help {
  border-right: 0;
}

/* line 264, compass/src/style.sass */
#admin-bar p a#logout-link {
  float: right;
  border-right: 0;
}

/* ------- MULTIPLE CONTACTS ------- */
/* line 270, compass/src/style.sass */
h2 {
  padding-bottom: 0.625em;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.425em;
  font-weight: normal;
  color: #00872f;
  margin-top: 20px;
}

/* line 278, compass/src/style.sass */
h2 span.archived-feature {
  background: #c3c3c3;
  color: black;
  padding: 2px 10px;
}

/* ------- SINGLE CONTACT ------- */
/* line 285, compass/src/style.sass */
h3.site-subtitle {
  font-family: Verdana, Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 290, compass/src/style.sass */
.vitals {
  font-family: Verdana, Arial, sans-serif;
}

/* line 293, compass/src/style.sass */
img.contact-picture {
  margin: 0 1em 1em 0;
  float: left;
}

/* line 297, compass/src/style.sass */
.vitals p {
  width: 19.75em;
  padding-bottom: 0.5em;
  float: left;
  border-bottom: 0.063em solid #dddddd;
}

/* line 303, compass/src/style.sass */
span.organization {
  padding-bottom: 0;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
  color: #00872f;
}

/* line 311, compass/src/style.sass */
span.name {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.75em;
  line-height: 1.25em;
  color: #666655;
  border-bottom: 0.063em solid #dddddd;
}

/* line 321, compass/src/style.sass */
span.title {
  padding-bottom: 0.375em;
  display: block;
  font-size: 0.813em;
  font-style: italic;
  color: #777766;
}

/* line 328, compass/src/style.sass */
span.email, span.website {
  display: block;
  font-size: 0.688em;
  font-weight: bold;
  line-height: 16px;
}

/* line 334, compass/src/style.sass */
span.website a, span.email a {
  text-decoration: none;
}

/* line 337, compass/src/style.sass */
.phone {
  padding: 1.25em 0;
  clear: both;
  font-family: "Lucida Grande", Arial, Verdana, sans-serif;
}

/* line 342, compass/src/style.sass */
.phone h3.site-subtitle {
  width: 100px;
  margin-right: 1.538em;
  float: left;
  text-align: right;
}

/* line 348, compass/src/style.sass */
ul.phone-numbers {
  width: 15em;
  float: left;
  list-style: none;
}

/* line 353, compass/src/style.sass */
ul.phone-numbers li {
  margin-bottom: 1px;
  padding: 0.125em 0.375em;
  font-size: 0.813em;
  line-height: 20px;
  border-top: 1px solid #dddddd;
}

/* line 360, compass/src/style.sass */
ul.phone-numbers li:first-child {
  background-color: #eeeeee;
}

/* line 363, compass/src/style.sass */
ul.phone-numbers li span.number {
  font-weight: bold;
  letter-spacing: 1px;
}

/* line 367, compass/src/style.sass */
.additional-info {
  padding: 1.25em 0;
  clear: both;
}

/* line 371, compass/src/style.sass */
.address {
  margin-right: 1.625em;
  float: left;
}

/* line 375, compass/src/style.sass */
.optional-fields {
  width: 15.375em;
  float: right;
  font-size: 0.813em;
  line-height: 20px;
}

/* The width is static on this element due to alignment with the contact image */
/* line 382, compass/src/style.sass */
.address h3.site-subtitle {
  width: 100px;
  margin-right: 1.538em;
  float: left;
  text-align: right;
}

/* line 388, compass/src/style.sass */
.address p {
  width: 17.75em;
  float: left;
  font-size: 0.813em;
  line-height: 20px;
}

/* line 394, compass/src/style.sass */
.extra {
  width: 27em;
  margin-top: 1.25em;
  padding-top: 0.75em;
  float: left;
  clear: both;
  border-top: 0.188em double #dddddd;
}

/* line 402, compass/src/style.sass */
#map {
  height: 250px;
}

/* line 405, compass/src/style.sass */
.notes {
  width: 27em;
  margin-bottom: 1em;
  position: relative;
  float: left;
}

/* line 411, compass/src/style.sass */
.notes p {
  padding: 0.188em 0 0.75em 0;
  font-size: 0.813em;
  line-height: 1.25em;
}

/* line 416, compass/src/style.sass */
.related-contacts {
  width: 10em;
  margin: 0 0 1em 1.625em;
  position: relative;
  float: right;
}

/* line 422, compass/src/style.sass */
.related-contacts h3 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.688em;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 428, compass/src/style.sass */
.related-contacts ul {
  padding-top: 3px;
}

/* line 431, compass/src/style.sass */
.related-contacts li {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 12px;
  line-height: 17px;
}

/* line 436, compass/src/style.sass */
.related-contacts li a {
  text-decoration: none;
}

/* line 439, compass/src/style.sass */
.contact-tags {
  margin: 1em 0 1.25em 0;
  padding-top: 0.125em;
  clear: both;
  border-top: 0.063em solid #dddddd;
}

/* line 445, compass/src/style.sass */
.contact-tags span {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.688em;
  font-weight: bold;
}

/* line 450, compass/src/style.sass */
.contact-tags a {
  font-size: 0.688em;
  font-weight: bold;
  text-decoration: none;
}

/* ------- SIDEBAR ------- */
/* line 457, compass/src/style.sass */
#sidebar p {
  padding-bottom: 1.25em;
  font-size: 0.688em;
  line-height: 1em;
}

/* line 462, compass/src/style.sass */
#sidebar h3 {
  margin-bottom: 0.5em;
  font-size: 0.688em;
  text-transform: uppercase;
  border-bottom: 0.125em solid #cccccc;
}

/* line 468, compass/src/style.sass */
#sidebar p a {
  text-decoration: none;
}

/* line 471, compass/src/style.sass */
#sidebar form {
  padding: 0 0 1.25em 0;
}

/* line 474, compass/src/style.sass */
#ind-contact-meta {
  margin: 1em 0 0.5em 0;
}

/* line 477, compass/src/style.sass */
#ind-contact-meta p a {
  padding: 10px 5px 7px 20px;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
}

/* line 483, compass/src/style.sass */
#ind-contact-meta p a[title="Edit post"] {
  border-top: 1px solid #dddddd;
  background: url("images/icon-user-edit.png") 0 7px no-repeat;
}

/* line 487, compass/src/style.sass */
#ind-contact-meta p a#location-link {
  padding-bottom: 7px;
  background: url("images/icon-map.png") 0 7px no-repeat;
}

/* line 491, compass/src/style.sass */
#ind-contact-meta p a[title="Edit post"]:hover, #ind-contact-meta p a#location-link:hover {
  background-position: 0 -43px;
}

/* ------- COMMENTS / USER NOTES ------- */
/* line 496, compass/src/style.sass */
div#user-notes {
  margin-top: 1em;
  padding: 1em;
  border: 3px solid #dfdfdf;
  background-color: white;
}

/* line 502, compass/src/style.sass */
#sidebar h3#user-notes-title, #sidebar h3#leave-user-note {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
  color: #999999;
  border-bottom: 0;
}

/* line 510, compass/src/style.sass */
#sidebar h3#leave-user-note {
  padding-top: 1.25em;
}

/* line 515, compass/src/style.sass */
dl.commentlist dt {
  margin-top: 1em;
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  border-top: 0.063em solid #dddddd;
}

/* line 521, compass/src/style.sass */
dl.commentlist dt cite {
  font-size: 1em;
}

/* line 524, compass/src/style.sass */
dl.commentlist dt cite a {
  text-decoration: none;
  color: #004d86;
}

/* line 528, compass/src/style.sass */
dl.commentlist dt span#author-meta {
  padding-top: 5px;
  position: relative;
  display: block;
}

/* line 533, compass/src/style.sass */
dl.commentlist dt span.comment-meta a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.688em;
  text-decoration: none;
  color: #999999;
}

/* line 539, compass/src/style.sass */
dl.commentlist dt img {
  margin: 0 0.75em 0 0;
  position: relative;
  float: left;
  border: 3px solid #dddddd;
  border-top: 2px solid #dddddd;
}

/* line 546, compass/src/style.sass */
dl.commentlist dd {
  margin-top: 1em;
  display: block;
  clear: both;
  font-family: Georgia, "Times New Roman", serif;
  border-bottom: 0.125em solid #dddddd;
}

/* line 553, compass/src/style.sass */
#sidebar dl.commentlist dd p {
  padding-bottom: 1em;
  display: block;
  font-size: 0.75em;
  line-height: 1.5em;
}

/* line 559, compass/src/style.sass */
#sidebar p.login-note {
  font-size: 0.813em;
  font-weight: bold;
  line-height: 1em;
  background-color: #fdfeef;
}

/* line 565, compass/src/style.sass */
form#commentform p {
  font-size: 0.813em;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  line-height: 1em;
  background-color: white;
}

/* line 572, compass/src/style.sass */
form#commentform p a {
  text-decoration: underline;
}

/* line 577, compass/src/style.sass */
form#commentform input, form#commentform textarea {
  padding: 2px;
  font-size: 13px;
  color: #666655;
  border: 1px solid #dddddd;
  border-bottom: 3px solid #dcdcdc;
}

/* line 584, compass/src/style.sass */
form#commentform input#submit {
  padding: 3px 5px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  color: #444433;
  border: 3px double silver;
  background-color: #dddddd;
}

/* ------- SITE META ------- */
/* line 596, compass/src/style.sass */
#site-meta p {
  padding: 0.625em;
  font-size: 0.688em;
  text-align: center;
  color: #999999;
}

/* line 602, compass/src/style.sass */
#site-meta p a {
  color: #999999;
}

/* line 605, compass/src/style.sass */
#site-meta p a.home-link {
  font-weight: bold;
  color: #555544;
}

/* line 609, compass/src/style.sass */
#site-meta a.home-link:hover, #site-meta a.home-link:active {
  color: #004d86;
}

/* line 612, compass/src/style.sass */
#site-meta a:hover, #site-meta a:active {
  color: #004d86;
}
