/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/*  
Theme Name: WP Contact Manager
Theme URI: http://artisanthemes.com/themes/wp-contact-manager/
Description: A free contact manager for WordPress.
Version: 0.5
Author: David Yeiser
Author URI: http://artisanthemes.com/
*/
/* line 17, compass/src/style.scss */
div.related-contacts {
  display: none;
  /*TEMPORARY HOPE THIS WORKS LATER :)*/
}

/* line 21, compass/src/style.scss */
span.viewlocation a {
  clear: both;
  display: block;
  color: #ccc;
}

/* line 27, compass/src/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 29, compass/src/style.scss */
body {
  font-family: "Lucida Grande", Arial, sans-serif;
  color: #665;
}

/* line 31, compass/src/style.scss */
ul {
  list-style: none;
}

/* line 35, compass/src/style.scss */
p.needhelp {
  color: #6e6655;
  font-size: 12px!important;
  margin: 5px 0;
}

/* line 41, compass/src/style.scss */
a:link {
  color: #000;
  text-decoration: none;
}

/* line 45, compass/src/style.scss */
a:visited {
  color: #333;
  border-bottom: none;
  text-decoration: none;
}

/* line 51, compass/src/style.scss */
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

/* line 56, compass/src/style.scss */
span.clearer {
  height: 0;
  display: block;
  clear: both;
  font-size: 1px;
  line-height: 1px;
}

/* line 58, compass/src/style.scss */
div#search {
  width: 600px;
  background: #333;
  border: 3px solid #665;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 15px;
}

/* line 67, compass/src/style.scss */
div#search h2 span a {
  font-size: 10px;
  border: 1px solid red!important;
}

/* line 72, compass/src/style.scss */
div#search #logo {
  width: 150px;
  height: 100px;
  float: left;
  margin-right: 30px;
}

/* line 79, compass/src/style.scss */
div#search span {
  display: block;
  font-style: italic;
  font-family: georgia;
  margin: 10px;
}

/* line 86, compass/src/style.scss */
div#search h2 {
  margin-right: 30px;
  margin-top: 3px;
  color: #c3c3c3;
  font-weight: 000;
  font-size: 1.1em;
}

/* line 94, compass/src/style.scss */
#searchform input {
  width: 17.875em;
  padding: 0.25em 0.125em;
  font-family: Helvetica, Consolas, "Courier New", monospace;
  font-size: 1em;
  color: #554;
  border: 0.063em solid #ddd;
  background-color: #fff;
}

/* line 95, compass/src/style.scss */
#searchform input#searchsubmit {
  width: 5.75em;
  padding: 0.25em 0.125em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: #665;
}

/*-------- lists ---------*/
/* line 99, compass/src/style.scss */
#sidebar ul {
  font-weight: bold;
  list-style-position: inside!important;
}

/* line 104, compass/src/style.scss */
#sidebar ul.children {
  list-style-type: none;
  margin-left: 20px;
  font-weight: normal;
}

/* line 110, compass/src/style.scss */
#sidebar ul li {
  margin-top: 3px;
}

/* line 114, compass/src/style.scss */
#sidebar {
  font-size: 0.8em;
}

/* ------- LAYOUT ------- */
/* line 120, compass/src/style.scss */
#site {
  width: 1200px;
  margin: 1.25em auto;
}

/* line 121, compass/src/style.scss */
#content {
  width: 650px;
  padding: 1.25em 1.25em 2.5em 1.25em;
  position: relative;
  float: left;
  background-color: #fff;
  overflow: hidden;
  /*border:3px solid #ccc;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;*/
  margin: 1.5em;
}

/* line 133, compass/src/style.scss */
#sidebar {
  width: 19.25em;
  margin-left: 1.25em;
  padding-top: 2em;
  float: left;
}

/* line 140, compass/src/style.scss */
#site-meta {
  width: 48.375em;
  margin-top: 1.25em;
  padding-top: 0.75em;
  clear: both;
}

/* line 145, compass/src/style.scss */
p.catcloud a {
  color: #666;
}

/* line 149, compass/src/style.scss */
div.vitals p {
  text-align: center;
}

/* line 153, compass/src/style.scss */
p.catcloud a:hover {
  color: #333;
  background: green;
  color: #fff;
}

/* line 159, compass/src/style.scss */
table {
  width: 100%;
  border-right: 1px solid #e5eff8;
  margin: 1em auto;
  border-collapse: collapse;
  font-size: 0.8em;
}

/* line 167, compass/src/style.scss */
caption {
  color: #9ba9b4;
  font-size: .94em;
  letter-spacing: .1em;
  margin: 1em 0 0 0;
  padding: 0;
  caption-side: top;
  text-align: center;
}

/* line 177, compass/src/style.scss */
tr.contact {
  border-top: 1px solid #333!important;
}

/* line 181, compass/src/style.scss */
tr.odd td {
  background: #f7fbff;
}

/* line 185, compass/src/style.scss */
tr.odd .column1 {
  background: #f4f9fe;
}

/* line 189, compass/src/style.scss */
.column1 {
  background: #f9fcfe;
}

/* line 193, compass/src/style.scss */
td {
  color: #678197;
  border-bottom: 1px solid #c3c3c3;
  border-left: 1px solid #e5eff8;
  padding: .3em 1em;
}

/* line 200, compass/src/style.scss */
th {
  font-weight: normal;
  color: #678197;
  text-align: left;
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: .3em 1em;
}

/* line 209, compass/src/style.scss */
thead th {
  background: #f3f3f3;
  font: "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
  color: green;
}

/* line 215, compass/src/style.scss */
table td.m-category a {
  padding: 0 5px;
  margin: 0px 5px;
  display: block;
  text-transform: uppercase;
  font-size: 0.75em;
  text-decoration: none;
}

/* line 224, compass/src/style.scss */
table td.m-category a:hover {
  color: green;
}

/* ------- ADMIN BAR ------- */
/* line 230, compass/src/style.scss */
#admin-bar {
  width: 100%;
  padding: 0.5em 0;
  border-bottom: 2px solid #887;
  background-color: #776;
}

/* line 231, compass/src/style.scss */
#admin-bar p {
  width: 48.375em;
  margin: 0 auto;
  padding-top: 3px;
}

/* line 232, compass/src/style.scss */
#admin-bar p a {
  padding: 1px 0.5em;
  display: block;
  float: left;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  color: #fdfeef;
  border-right: 1px solid #887;
}

/* line 233, compass/src/style.scss */
#admin-bar p a:hover {
  text-decoration: underline;
}

/* line 234, compass/src/style.scss */
#admin-bar p a#home-link {
  padding: 1px 0.5em 1px 20px;
  background: url("") 0 0 no-repeat;
}

/* line 235, compass/src/style.scss */
#admin-bar p a#get-help {
  border-right: 0;
}

/* line 236, compass/src/style.scss */
#admin-bar p a#logout-link {
  float: right;
  border-right: 0;
}

/* ------- MULTIPLE CONTACTS ------- */
/* line 241, compass/src/style.scss */
h2 {
  padding-bottom: 0.625em;
  font-family: Georgia,    "Times New Roman", serif;
  font-size: 1.425em;
  font-weight: normal;
  color: #00872f;
  margin-top: 20px;
}

/* line 252, compass/src/style.scss */
h2 span.archived-feature {
  background: #c3c3c3;
  color: #000;
  padding: 2px 10px;
}

/* ------- SINGLE CONTACT ------- */
/* line 260, compass/src/style.scss */
h3.site-subtitle {
  font-family: Verdana, Arial, sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 262, compass/src/style.scss */
.vitals {
  font-family: Verdana, Arial, sans-serif;
}

/* line 263, compass/src/style.scss */
img.contact-picture {
  margin: 0 1em 1em 0;
  float: left;
}

/* line 264, compass/src/style.scss */
.vitals p {
  width: 19.75em;
  padding-bottom: 0.5em;
  float: left;
  border-bottom: 0.063em solid #ddd;
}

/* line 266, compass/src/style.scss */
span.organization {
  padding-bottom: 0;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
  color: #00872f;
}

/* line 267, compass/src/style.scss */
span.name {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.75em;
  line-height: 1.25em;
  color: #665;
  border-bottom: 0.063em solid #ddd;
}

/* line 268, compass/src/style.scss */
span.title {
  padding-bottom: 0.375em;
  display: block;
  font-size: 0.813em;
  font-style: italic;
  color: #776;
}

/* line 269, compass/src/style.scss */
span.email, span.website {
  display: block;
  font-size: 0.688em;
  font-weight: bold;
  line-height: 16px;
}

/* line 270, compass/src/style.scss */
span.website a, span.email a {
  text-decoration: none;
}

/* line 272, compass/src/style.scss */
.phone {
  padding: 1.25em 0;
  clear: both;
  font-family: "Lucida Grande", Arial, Verdana, sans-serif;
}

/* line 273, compass/src/style.scss */
.phone h3.site-subtitle {
  width: 100px;
  margin-right: 1.538em;
  float: left;
  text-align: right;
}

/* line 274, compass/src/style.scss */
ul.phone-numbers {
  width: 15em;
  float: left;
  list-style: none;
}

/* line 275, compass/src/style.scss */
ul.phone-numbers li {
  margin-bottom: 1px;
  padding: 0.125em 0.375em;
  font-size: 0.813em;
  line-height: 20px;
  border-top: 1px solid #ddd;
}

/* line 276, compass/src/style.scss */
ul.phone-numbers li:first-child {
  background-color: #eee;
}

/* line 277, compass/src/style.scss */
ul.phone-numbers li span.number {
  font-weight: bold;
  letter-spacing: 1px;
}

/* line 279, compass/src/style.scss */
.additional-info {
  padding: 1.25em 0;
  clear: both;
}

/* line 280, compass/src/style.scss */
.address {
  margin-right: 1.625em;
  float: left;
}

/* line 281, compass/src/style.scss */
.optional-fields {
  width: 15.375em;
  float: right;
  font-size: 0.813em;
  line-height: 20px;
}

/* The width is static on this element due to alignment with the contact image */
/* line 284, compass/src/style.scss */
.address h3.site-subtitle {
  width: 100px;
  margin-right: 1.538em;
  float: left;
  text-align: right;
}

/* line 285, compass/src/style.scss */
.address p {
  width: 17.75em;
  float: left;
  font-size: 0.813em;
  line-height: 20px;
}

/* line 287, compass/src/style.scss */
.extra {
  width: 27em;
  margin-top: 1.25em;
  padding-top: 0.75em;
  float: left;
  clear: both;
  border-top: 0.188em double #ddd;
}

/* line 288, compass/src/style.scss */
#map {
  height: 250px;
}

/* line 289, compass/src/style.scss */
.notes {
  width: 27em;
  margin-bottom: 1em;
  position: relative;
  float: left;
}

/* line 290, compass/src/style.scss */
.notes p {
  padding: 0.188em 0 0.75em 0;
  font-size: 0.813em;
  line-height: 1.25em;
}

/* line 292, compass/src/style.scss */
.related-contacts {
  width: 10em;
  margin: 0 0 1em 1.625em;
  position: relative;
  float: right;
}

/* line 293, compass/src/style.scss */
.related-contacts h3 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 0.688em;
  line-height: 20px;
  text-transform: uppercase;
}

/* line 294, compass/src/style.scss */
.related-contacts ul {
  padding-top: 3px;
}

/* line 295, compass/src/style.scss */
.related-contacts li {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 12px;
  line-height: 17px;
}

/* line 296, compass/src/style.scss */
.related-contacts li a {
  text-decoration: none;
}

/* line 298, compass/src/style.scss */
.contact-tags {
  margin: 1em 0 1.25em 0;
  padding-top: 0.125em;
  clear: both;
  border-top: 0.063em solid #ddd;
}

/* line 299, compass/src/style.scss */
.contact-tags span {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.688em;
  font-weight: bold;
}

/* line 300, compass/src/style.scss */
.contact-tags a {
  font-size: 0.688em;
  font-weight: bold;
  text-decoration: none;
}

/* ------- SIDEBAR ------- */
/* line 304, compass/src/style.scss */
#sidebar p {
  padding-bottom: 1.25em;
  font-size: 0.688em;
  line-height: 1em;
}

/* line 305, compass/src/style.scss */
#sidebar h3 {
  margin-bottom: 0.5em;
  font-size: 0.688em;
  text-transform: uppercase;
  border-bottom: 0.125em solid #ccc;
}

/* line 306, compass/src/style.scss */
#sidebar p a {
  text-decoration: none;
}

/* line 309, compass/src/style.scss */
#sidebar form {
  padding: 0 0 1.25em 0;
}

/* line 311, compass/src/style.scss */
#ind-contact-meta {
  margin: 1em 0 0.5em 0;
}

/* line 312, compass/src/style.scss */
#ind-contact-meta p a {
  padding: 10px 5px 7px 20px;
  display: block;
  font-size: 1.25em;
  font-weight: bold;
}

/* line 313, compass/src/style.scss */
#ind-contact-meta p a[title="Edit post"] {
  border-top: 1px solid #ddd;
  background: url("images/icon-user-edit.png") 0 7px no-repeat;
}

/* line 314, compass/src/style.scss */
#ind-contact-meta p a#location-link {
  padding-bottom: 7px;
  background: url("images/icon-map.png") 0 7px no-repeat;
}

/* line 316, compass/src/style.scss */
#ind-contact-meta p a[title="Edit post"]:hover, #ind-contact-meta p a#location-link:hover {
  background-position: 0 -43px;
}

/* ------- COMMENTS / USER NOTES ------- */
/* line 320, compass/src/style.scss */
div#user-notes {
  margin-top: 1em;
  padding: 1em;
  border: 3px solid #dfdfdf;
  background-color: #fff;
}

/* line 323, compass/src/style.scss */
#sidebar h3#user-notes-title, #sidebar h3#leave-user-note {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: none;
  color: #999;
  border-bottom: 0;
}

/* line 332, compass/src/style.scss */
#sidebar h3#leave-user-note {
  padding-top: 1.25em;
}

/* line 335, compass/src/style.scss */
dl.commentlist dt {
  margin-top: 1em;
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  border-top: 0.063em solid #ddd;
}

/* line 336, compass/src/style.scss */
dl.commentlist dt cite {
  font-size: 1em;
}

/* line 337, compass/src/style.scss */
dl.commentlist dt cite a {
  text-decoration: none;
  color: #004d86;
}

/* line 338, compass/src/style.scss */
dl.commentlist dt span#author-meta {
  padding-top: 5px;
  position: relative;
  display: block;
}

/* line 340, compass/src/style.scss */
dl.commentlist dt span.comment-meta a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.688em;
  text-decoration: none;
  color: #999;
}

/* line 341, compass/src/style.scss */
dl.commentlist dt img {
  margin: 0 0.75em 0 0;
  position: relative;
  float: left;
  border: 3px solid #ddd;
  border-top: 2px solid #ddd;
}

/* line 342, compass/src/style.scss */
dl.commentlist dd {
  margin-top: 1em;
  display: block;
  clear: both;
  font-family: Georgia, "Times New Roman", serif;
  border-bottom: 0.125em solid #ddd;
}

/* line 343, compass/src/style.scss */
#sidebar dl.commentlist dd p {
  padding-bottom: 1em;
  display: block;
  font-size: 0.75em;
  line-height: 1.5em;
}

/* line 345, compass/src/style.scss */
#sidebar p.login-note {
  font-size: 0.813em;
  font-weight: bold;
  line-height: 1em;
  background-color: #fdfeef;
}

/* line 346, compass/src/style.scss */
form#commentform p {
  font-size: 0.813em;
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  line-height: 1em;
  background-color: #fff;
}

/* line 347, compass/src/style.scss */
form#commentform p a {
  text-decoration: underline;
}

/* line 349, compass/src/style.scss */
form#commentform input, form#commentform textarea {
  padding: 2px;
  font-size: 13px;
  color: #665;
  border: 1px solid #ddd;
  border-bottom: 3px solid #dcdcdc;
}

/* line 350, compass/src/style.scss */
form#commentform input#submit {
  padding: 3px 5px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  color: #443;
  border: 3px double #c0c0c0;
  background-color: #ddd;
}

/* ------- SITE META ------- */
/* line 355, compass/src/style.scss */
#site-meta p {
  padding: 0.625em;
  font-size: 0.688em;
  text-align: center;
  color: #999;
}

/* line 356, compass/src/style.scss */
#site-meta p a {
  color: #999;
}

/* line 357, compass/src/style.scss */
#site-meta p a.home-link {
  font-weight: bold;
  color: #554;
}

/* line 358, compass/src/style.scss */
#site-meta a.home-link:hover, #site-meta a.home-link:active {
  color: #004d86;
}

/* line 359, compass/src/style.scss */
#site-meta a:hover, #site-meta a:active {
  color: #004d86;
}
